header{
    background-color:#EEEBD3;
    padding:2vw 0;
}

nav{
    width:90%;
    margin:0 auto;
}

.logo{
    display:inline;
    width:15vw;
}


/* CSS del Main de la Página */
main{
    background-color:#EEEBD3;
    padding:1vw 0;
}

.entrada-texto{
    width:90%;
    margin:0 auto;
    padding-bottom:3vw;
}

.entrada-texto form{
    padding:1vw 0;
}

.entrada-texto form textarea{
    background-color:#EEEBD3;
    border:none;
    border-radius:3vw;
    padding:3vw 2vw;
    font-size:4.5vw;
}

.entrada-texto p{
    font-size:3.5vw;
}

.salida-texto{
    width:90%;
    margin:0 auto;
    padding:3vw 2vw;
    border:2px solid #263D45;
    border-radius:3vw;
    margin-top:12vw;
}

.salida-texto .imagen-robot{
    margin:0 27vw;
    display:inline;
    padding-top:3vw;
    width:35vw;
}

.salida-texto h3{
    color:#263D45;
    font-size:10vw;
    font-weight:bold;
    padding:2vw 0;
    text-align:center;
}

.salida-texto p{
    color:#263D45;
    font-size:4.5vw;
    padding-bottom:5vw;
    text-align:center;
}

.salida-texto .mostrar-resultado{
    display:none;
    margin-bottom:15vw;
}

.salida-texto .mostrar-resultado label{
    font-size:5.5vw;
}

.salida-texto input{
    background-color:#437C90;
    padding:2vw 3vw;
    margin-left:68vw;
    font-size:5vw;
    border:none;
    border-radius:2.5vw;
    color:#FFFFFF;
}

.salida-texto input:hover{
    background-color:#A98743;
}

.botones{
    width:90%;
    margin:0 auto;
    padding:3vw 0;
}

.botones form{
    position:absolute;
    top:88vw;
}

.botones input{
    background-color:#437C90;
    padding:2vw 4vw;
    font-size:5vw;
    border:none;
    border-radius:2.5vw;
    color:#FFFFFF;
}

.botones input:hover{
    background-color:#A98743;
}

.botones .boton-encriptar{
    padding:2vw 8.5vw;
    margin-right:3vw;
    font-size:5vw;
}


/* CSS del Footer de la Página */
footer{
    background-color:#437C90;
    padding:5vw 0;
}

.contacto{
    width:80%;
    margin:0 auto;
}

footer .logo-blanco{
    width:30%;
    margin:0 auto;
}

.logo-inferior{
    width:27vw;
    display:inline;
}

.informacion-contacto{
    width:50%;
    display:inline-block;
    vertical-align:top;
    margin-left:5vw;
}

.informacion-contacto h3{
    color:#FFFFFF;
    font-size:3.5vw;
    font-weight:bold;
    padding-bottom:2vw;
}

.informacion-contacto li{
    text-decoration:none;
    color:#FFFFFF;
    font-size:3vw;
}

.informacion-contacto .nombre{
    padding-bottom:2vw;
}

.informacion-contacto .titular{
    font-weight:bold;
    padding-bottom:0.5vw;
}

.redes-sociales{
    width:50%;
    display:inline;
    margin:22vw 0 0 0;
    position:absolute;
    left:41vw;
}

.redes-sociales li{
    display:inline;
    padding:2vw 1vw 0 2vw;
}

.redes-sociales li img{
    width:7vw;
}

.info-redes{
    display:none;
}

.dato-ultimo{
    width:90%;
    margin:0 auto;
    padding-top:8vw;
    color:#FFFFFF;
    text-align:center;
    font-size:2.5vw;        
}


/* CSS responsive para dispositivos moviles y tablets de 480px a 767px*/
@media only screen and (max-width:768px) and (min-width:480px){

    nav{
        width:80%;
    }

    .logo{
        width:10vw;
    }

    .entrada-texto{
        width:80%;
    }

    .entrada-texto form{
        padding:0 0 2vw 0;
    }

    .entrada-texto form textarea{
        font-size:4vw;
    }

    .entrada-texto p{
        font-size:3vw;
    }

    .salida-texto{
        width:80%;
        margin-top:10vw;
    }

    .salida-texto .imagen-robot{
        margin:0 20vw;
    }

    .salida-texto h3{
        font-size:9vw;
    }

    .salida-texto p{
        font-size:4vw;
    }

    .salida-texto .mostrar-resultado{
        margin-bottom:20vw;
    }
    
    .salida-texto .mostrar-resultado label{
        font-size:4.75vw;
    }

    .salida-texto input{
        margin-left:60vw;
        font-size:3.5vw;
    }

    .botones{
        width:80%;
    }

    .botones form{
        top:76vw;
    }

    .botones input{
        font-size:3.5vw;
        padding:2vw 5vw;
    }

    .botones .boton-encriptar{
        padding:2vw 8vw;
        margin-right:3vw;
        font-size:3.5vw;
    }

    .contacto{
        width:80%;
    }

    footer .logo-blanco{
        width:30%;
    }

    .informacion-contacto{
        width:50%;
        margin-left:10vw;
    }

    .informacion-contacto h3{
        font-size:2.8vw;
    }

    .informacion-contacto li{
        font-size:2.5vw;
    }

    .redes-sociales{
        margin-top:20vw;
        left:46vw;
    }

    .redes-sociales li img{
        width:6vw;
    }

    .dato-ultimo{
        padding-top:4vw;
        font-size:2vw;
    }

}


/* CSS responsive para pantallas con resolución de 768px a 1023px*/
@media only screen and (max-width:1024px) and (min-width:768px){

    nav{
        width:80%;
    }

    .logo{
        width:8vw;
    }

    .entrada-texto{
        width:45%;
        display:inline-block;
        margin:0 10vw 9vw 5vw;
        vertical-align:top;
        padding-bottom:1vw;
    }

    .entrada-texto form textarea{
        font-size:2.5vw;
    }

    .entrada-texto p{
        font-size:2vw;
    }

    .salida-texto{
        width:30%;
        display:inline-block;
        margin:0;
        padding:1vw 2vw;
    }

    .salida-texto .imagen-robot{
        width:22vw;
        margin:0 2.5vw;
    }

    .salida-texto h3{
        padding:2vw 0;
        font-size:4vw;
    }

    .salida-texto p{
        font-size:2.5vw;
        padding-bottom:3vw;
    }

    .salida-texto .mostrar-resultado{
        margin-top:2.5vw;
        margin-bottom:20vw;
    }
    
    .salida-texto .mostrar-resultado label{
        font-size:2.8vw;
    }

    .salida-texto input{
        margin:0;
        padding:1.5vw 3vw;
        font-size:2vw;
        margin-left:18vw;
    }

    .botones{
        width:90%;
        padding:0;
        padding-bottom:2vw;
    }

    .botones form{
        top:55vw;
    }

    .botones input{
        padding:1.5vw 3vw;
        font-size:2.5vw;
    }
    
    .botones .boton-encriptar{
        padding:1.5vw 5vw;
        font-size:2.5vw;
    }

    footer{
        padding:3vw 0;
    }

    .contacto{
        width:70%;
    }

    footer .logo-blanco{
        width:30%;
    }

    .logo-inferior{
        width:17vw;
    }

    .informacion-contacto{
        margin-left:17vw;
    }

    .informacion-contacto h3{
        font-size:2.1vw;
        padding-bottom:1vw;
    }

    .informacion-contacto li{
        font-size:2vw;
    }

    .informacion-contacto .nombre{
        padding-bottom:1vw;
    }

    .informacion-contacto .titular{
        padding-bottom:0.3vw;
    }

    .redes-sociales{
        margin:13.5vw 0 0 0;
        left:47.5vw;
    }

    .redes-sociales li img{
        width:4vw;
    }

    .dato-ultimo{
        width:80%;
        padding-top:3vw;
        font-size:1.5vw;
    }

}


/* CSS responsive para pantallas con resolución de 1024px a 1365px*/
@media only screen and (max-width:1366px) and (min-width:1024px){

    header{
        padding:0;
        padding-top:1vw;
    }

    nav{
        width:80%;
    }

    .logo{
        width:6vw;
    }

    .entrada-texto{
        width:40%;
        display:inline-block;
        margin:0 8vw 5vw 10vw;
        vertical-align:top;
        padding-bottom:1vw;
    }

    .entrada-texto form textarea{
        font-size:2vw;
        padding:1vw 2vw;
        border-radius:2vw;
    }

    .entrada-texto p{
        font-size:1.5vw;
        padding-top:10vw;
    }

    .salida-texto{
        width:30%;
        display:inline-block;
        margin:0;
        padding:1vw 2vw;
    }

    .salida-texto .imagen-robot{
        width:18vw;
        margin:1vw 5vw;
    }

    .salida-texto h3{
        padding:2.5vw 0;
        font-size:3.5vw;
    }

    .salida-texto p{
        font-size:2vw;
        padding-bottom:4vw;
    }

    .salida-texto .mostrar-resultado{
        margin-top:1vw;
        margin-bottom:20vw;
    }
    
    .salida-texto .mostrar-resultado label{
        font-size:2.3vw;
    }

    .salida-texto input{
        margin:0;
        padding:1.7vw 3vw;
        font-size:1.5vw;
        margin-left:20vw;
    }

    .botones{
        width:80%;
        padding:0;
        padding-bottom:2vw;
    }

    .botones form{
        top:48vw;
    }

    .botones input{
        padding:1.5vw 3vw;
        font-size:2vw;
    }
    
    .botones .boton-encriptar{
        padding:1.5vw 5vw;
        font-size:2vw;
    }

    footer{
        padding:3vw 0;
    }

    .contacto{
        width:80%;
    }

    footer .logo-blanco{
        width:15%;
    }

    .logo-inferior{
        width:15vw;
    }

    .informacion-contacto{
        width:20%;
        padding-left:8vw;
    }

    .informacion-contacto h3{
        font-size:1.6vw;
        padding:2vw 0;
    }

    .informacion-contacto li{
        font-size:1.5vw;
    }

    .informacion-contacto .nombre{
        padding-bottom:1.5vw;
    }

    .informacion-contacto .titular{
        padding-bottom:0.6vw;
    }

    .redes-sociales{
        width:5%;
        margin:0;
        margin-top:0.5vw;
        position:absolute;
        left:70vw
    }

    .redes-sociales li img{
        width:3.5vw;
        padding:0.6vw 0;
    }

    .info-redes{
        width:20%;
        display:inline;
        position:absolute;
        color:#FFFFFF;
        font-size:1.5vw;
        margin-top:2.3vw;
        right:3.5vw;
    }

    .info-redes li{
        display:flex;
        padding-bottom:3.3vw;
    }

    .dato-ultimo{
        width:80%;
        padding-top:3vw;
        font-size:1vw;
    }

}


/* CSS responsive para pantallas con resolución superior de 1366px */
@media only screen and (min-width:1366px){

    header{
        padding:0;
        padding-top:1vw;
    }

    nav{
        width:70%;
    }

    .logo{
        width:4vw;
    }

    .entrada-texto{
        width:30%;
        display:inline-block;
        margin:0 10vw 0 15vw;
        vertical-align:top;
        padding-bottom:1vw;
        margin-bottom:6vw;
    }

    .entrada-texto form textarea{
        font-size:1.3vw;
        padding:1vw 2vw;
        border-radius:2vw;
    }

    .entrada-texto p{
        font-size:1vw;
        padding-top:12vw;
    }

    .salida-texto{
        width:30%;
        display:inline-block;
        margin:0;
        padding:1vw 2vw;
    }

    .salida-texto .imagen-robot{
        width:15vw;
        margin:1vw 6.5vw;
    }

    .salida-texto h3{
        padding:2vw 0;
        font-size:3vw;
    }

    .salida-texto p{
        font-size:1.3vw;
        padding-bottom:3vw;
    }

    .salida-texto .mostrar-resultado{
        margin-top:1vw;
        margin-bottom:20vw;
    }
    
    .salida-texto .mostrar-resultado label{
        font-size:1.5vw;
    }

    .salida-texto input{
        margin:0;
        padding:1vw 2vw;
        font-size:1.3vw;
        margin:1vw 0;
        margin-left:22vw;
    }

    .botones{
        width:70%;
        padding:0;
        padding-bottom:1vw;
    }

    .botones form{
        top:40vw;
    }

    .botones input{
        padding:1vw 2.5vw;
        font-size:1.5vw;
    }
    
    .botones .boton-encriptar{
        padding:1vw 4vw;
        font-size:1.5vw;
    }

    footer{
        padding:2vw 0 1vw 0;
    }

    .contacto{
        width:70%;
    }

    footer .logo-blanco{
        width:15%;
    }

    .logo-inferior{
        width:8.5vw;
    }

    .informacion-contacto{
        width:20%;
        padding-left:14vw;
    }

    .informacion-contacto h3{
        font-size:1vw;
        padding:0.5vw 0;
        padding-bottom:1vw;
    }

    .informacion-contacto li{
        font-size:1vw;
    }

    .informacion-contacto .nombre{
        padding-bottom:1vw;
    }

    .informacion-contacto .titular{
        padding-bottom:0.2vw;
    }

    .redes-sociales{
        width:5%;
        margin:0;
        margin-top:0.8vw;
        position:absolute;
        left:68vw
    }

    .redes-sociales li img{
        width:2vw;
        padding:0.25vw 0;
    }

    .info-redes{
        width:20%;
        display:inline;
        position:absolute;
        color:#FFFFFF;
        font-size:1vw;
        margin-top:1.5vw;
        right:6.5vw;
    }

    .info-redes li{
        display:flex;
        padding-bottom:1.6vw;
    }

    .dato-ultimo{
        width:80%;
        padding-top:2vw;
        font-size:0.8vw;
    }

}